.tag {
  background: #F3F3FC;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  margin-right: 0.5rem;
   h6{
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #58648A;
    margin: 0;
   }
}